body{
    background-image:url(5daadce7-d507-42a6-83fe-f505bb6e6f5e.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment:fixed;
}
h1{
    font-size: 70px;
    color: #28d1ad;
    border-bottom: 3px;

}



.Nav1{background-color:rgb(192, 95, 95);
    padding: 20px 50px;
    color: white;
    height: 100px;
    border-radius: 10px;
}
.navtop{
        display: flex;
        align-items:center;
        justify-content:space-between;
    }
    .search{display: flex;
    align-items: center;
    background-color: rgb(129, 129, 129);
    padding: 10px 15px;
    border-radius: 20px;}
.searchIcon{background-color: rgb(88, 87, 87);}
.searchInput{height: 25px;
     width: 200px;
    border: none;
font-size: larger;
}
.navbottom{display: flex;
align-items: center;
justify-content: center;}   

.logo{
    border-radius: 50px;
}

.sv{
    border-radius: 50px;
}
#lo{
    height:200;
    width: 200;
  margin-top: 100px;
    }
    li{
        float: left; 
        text-align: center;
      border: 5px solid silver; outline: none;
    }
    a{ display:block; color: antiquewhite;  padding: 10px;}
    ul {
        list-style-type: none;
        overflow: hidden;
   }